.nav a:link,
.nav a:visited {
  text-decoration: none;
  color: var(--color-light--2);
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
}

/* CSS Modules feature */
.nav a:global(.active) {
  color: var(--color-brand--2);
}

a.ctaLink:link,
a.ctaLink:visited {
  background-color: var(--color-brand--2);
  color: var(--color-dark--0);
  padding: 0.8rem 2rem;
  border-radius: 7px;
}

@media(min-width: 1441px) {
  .nav li > * {
    font-size: 1.125rem !important;
    line-height: 1.75rem !important;
  }
  .nav img {
    height: 5rem;
  }
}

@media (min-width: 1441px) {
  .nav li > * {
    font-size: 1.875rem !important;
    line-height: 2.25rem !important;
  }
  .nav img {
    height: 6rem;
  }
}
